$text-navbar-color: #242f51;
$text-color : #616367;
$button-color : #2500f9;
$footer-color : #2626ff;
$background-color : #ffffff;
$icon-color: #273043;
$content-icons-color: #000000;
$paragraph-color : #888a8d;